.navigation_case{
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    display: inherit;

    li {
      a {
        font-size: 18px;
      }
      padding-left: 1rem; 
      flex-direction: row;
      text-decoration: none;
      list-style-type: none;
    }
  }
}